.article-page {
    background: #fff;
}
.article__top-img {
    width: 100%;
    margin-bottom: 33px;
}
.article-wrap {
    width: 100%;
    /*max-width: 1280px;*/
    flex-grow: 1;
    -webkit-box-flex: 1;
    margin: 51px auto 0;
}
.article-section {
    padding: 22px 0;
}
.article-section--white {
    background: #fff;
}
.article__cnt {
    font-size: 14px;
    line-height: 1.29;
    color: #707070;
    margin: 0 0 20px 0;
}
.grey-block {
    background: transparent;
}
.grey-block .article__block {
    margin: 20px 15px 180px;
}
@media screen and (max-width: 900px) {
    .grey-block .article__block {
        margin: 20px 15px 33px;
    }
}
@media screen and (max-width: 768px) {

    .article-section {
        padding: 20px 15px;
    }

    .grey-block .article {
        margin-bottom: 23px;
    }
    .grey-block .article:nth-child(2) {
        display: block;
    }
}

@media screen and (max-width: 479px) {
    .grey-block .article__block {
        display: block;
    }
}