.catalog-wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 7px;
}
.catalog__filter {
    display: block;
    position: relative;
    left: auto;
    top: auto;
    width: 305px;
    margin-right: 20px;
    padding: 10px 44px 22px 23px;
}
.catalog__filter .filter__seacrh-wrap {
    height: 48px;
}
.catalog__filter .filter__search-inp {
    padding: 0px 6px 9px 4px;
}
.catalog__filter .filter__search-inp::-webkit-input-placeholder {
    font-size: 14px;
    color: #999999;
}
.catalog__filter .filter__search-inp::-moz-placeholder {
    font-size: 14px;
    color: #999999;
}/*Firefox19+*/
.catalog__filter .filter__search-inp:-moz-placeholder {
    font-size: 14px;
    color: #999999;
}/*Firefox18-*/
.catalog__filter .filter__search-inp:-ms-input-placeholder {
    font-size: 14px;
    color: #999999;
}
.catalog__filter .filter__search-btn {
    margin-top: 0;
    margin-bottom: 7px;
}
.catalog__filter .filter__section {
    padding: 10px 0 10px;
}
.catalog__filter .filter__ttl {
    font-family: 'EB Garamond', Arial, serif;
    font-size: 19px;
    line-height: 1.26;
    color: #000000;
    margin-bottom: 2px;
}
.catalog__filter .cbx-block {
    padding: 4px 0 3px;
}
.catalog__filter .in-stock .label-cbx-cnt {
    font-size: 19px;
}

.catalog__filter .in-stock .cbx + .label-cbx::before {
    top: 2px;
}
.catalog__btn-block {
    display: flex;
    justify-content: flex-start;
    align-items: start;
}
.filter-open {
    display: none;
    border: none;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background: #fff;
    font-size: 19px;
    text-transform: uppercase;
    font-family: 'EB Garamond', Arial, serif;
    color: #000000;
    margin-right: 10px;
    padding: 5px 6px 6px;
    cursor: pointer;
    outline: none;
}
.filter-open.active,
.filter-open:hover {
    background: #000;
    color: #fff;
}
.catalog__sort-wrap--deck,
.catalog__sort-wrap {
    display: inline-block;
}
.catalog-sort {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 7px;
}
.catalog-sort__item {
    font-family: 'EB Garamond', Arial, serif;
    line-height: 1.11;
    color: #000000;
}
.catalog-sort__item--choose {
    position: relative;
    display: block;
    margin-right: 70px;
    background: #fff;
    padding: 4px 18px 7px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    cursor: pointer;
}
.catalog-sort__item--choose span {
    font-family: 'EB Garamond', Arial, serif;
    font-size: 19px;

}
.catalog__sort.active .catalog-sort__item--choose,
.catalog-sort__item--choose:hover {
    background: #000000;
    color: #fff;
}
.catalog-sort__arrow {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    transform: rotate(45deg);
    margin: 0 0 5px 5px;
}
.catalog__sort.active .catalog-sort__arrow,
.catalog-sort__item--choose:hover .catalog-sort__arrow {
    border-color: #fff;
}
.catalog-sort__list {
    display: none;
    position: absolute;
    top: 43px;
    width: 222px;
    z-index: 10;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    box-sizing: border-box;
}
.catalog-sort__item {
    background: #fff;
    display: block;
    padding: 5px 31px 5px 30px ;
    font-family: 'EB Garamond', Arial, serif;
    font-size: 19px;
    line-height: 1.11;
    color: #000000;
    white-space: nowrap;
    cursor: pointer;
}
.catalog-sort__item.selected {
    background: #fff url("../img/check20.svg") 4px center no-repeat;
    background-size: 20px;
}
.catalog__sort.active .catalog-sort__list {
    display: block;
}
.catalog__sort-wrap--mobile {
    display: none;
}


.catalog__content-wrap {
    width: calc(100% - 320px);
}
.catalog__stone-item {
    display: table;
    width: 100%;
    background: #fff;
    margin-bottom: 5px;
}
.catalog__stone-row {
    display: table-row;
}
.catalog__stone-cell {
    position: relative;
    display: table-cell;
    padding: 5px;
    vertical-align: middle;
    height: 166px;
    box-sizing: border-box;
    text-align: left;
}
.catalog__stone-cell:first-child {
    padding-left: 35px;
    text-align: center;
    width: 172px;
}
.catalog__stone-cell:nth-child(3) {
    width: 166px;
}
.catalog__stone-cell:nth-child(4) {
    width: 140px;
    text-align: center;
}
.catalog__stone-cell:last-child {
    width: 140px;
}
.catalog__stone-discount {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 19px;
    line-height: 1.26;
    color: #ffffff;
    background: #a88a8a;
    padding: 1px 2px 2px 2px;
    font-weight: 500;
}
.catalog__stone-discount--mobile {
    display: none;
}
.catalog__stone-img-wrap {
    width: 129px;
    height: 95px;
    box-sizing: border-box;
    margin: 0 auto 6px;
}
.catalog__stone-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    box-sizing: border-box;
}
.catalog__stone-type {
    font-family: 'EB Garamond', Arial, serif;
    font-size: 19px;
    font-weight: bold;
    line-height: 1.11;
    text-align: center;
    color: #000000;
}
.catalog__stone-name {
    display: block;
    font-family: 'EB Garamond', Arial, serif;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.67;
    letter-spacing: normal;
    color: #000000;
    max-width: 230px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.catalog__stone-name--mobile {
    display: none;
}
.catalog__stone-spec {
    display: table;
    width: 100%;
}
.catalog__stone-spec-row {
    display: table-row;
}
.catalog__stone-spec-cell {
    display: table-cell;
    font-size: 19px;
    line-height: 1.26;
    color: #000000;
    box-sizing: border-box;
}
.catalog__stone-spec-cell:first-child {
    width: 90px;
}
.catalog__stone-spec-cell:last-child {
    font-family: 'EB Garamond', Arial, serif;

}
.catalog__stone-price-old {
    position: relative;
    font-family: 'EB Garamond', Arial, serif;
    font-size: 19px;
    font-weight: bold;
    line-height: 1.11;
    text-align: center;
    display: inline-block;
    width: auto;
    margin: auto;
    color: #a88a8a;
}
.catalog__stone-price-old:after {
    position: absolute;
    content: '';
    left: -5px;
    right: -5px;
    top: 10px;
    height: 2px;
    background: #a88a8a;

}
.catalog__stone-price {
    font-family: 'EB Garamond', Arial, serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.3;
    text-align: center;
    color: #000000;
}
.catalog__stone-btn {
    display: block;
    width: 117px;
    padding: 12px 5px;
    text-align: center;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #d3c4c4;
    font-family: 'EB Garamond', Arial, serif;
    font-size: 19px;
    font-weight: bold;
    line-height: 1.11;
    letter-spacing: 0px;
    color: #000000;
    border: none;
    margin: 0 auto 10px;
    cursor: pointer;
}
.catalog__stone-status {
    font-family: 'EB Garamond', Arial, serif;
    font-size: 19px;
    font-weight: bold;
    line-height: 1.11;
    color: #ff0000;
}


@media screen and (max-width: 1150px) {
    .filter-open {
        display: inline-block;
    }
    .catalog__filter {
        position: absolute;
        display: none;
        top: 43px;
    }
    .catalog__filter.active {
        display: block;
    }
    .catalog__content-wrap {
        width: 100%;
    }
}
@media screen and (max-width: 900px) {
    .catalog.wrapper {
        padding: 0;
    }
    .catalog__btn-block {
        padding: 0 6px;
    }
    .catalog__stone-img-wrap {
        width: 50px;
        height: 50px;
        margin: 0 auto;
    }
    .catalog__stone-name--mobile {
        display: block;
        font-size: 19px;
        line-height: 1.05;
        max-width: 115px;
    }
    .catalog__stone-type {
        font-size: 12px;
        font-weight: 400;
        line-height: 1;
    }
    .catalog__stone-cell {
        height: 95px;
        vertical-align: top;
        padding: 7px 5px 2px;
    }
    .catalog__stone-cell:first-child {
        padding-left: 5px;
        width: 130px;
    }
    .catalog__stone-cell:nth-child(2) {
        display: none;
    }
    .catalog__stone-cell:nth-child(3) {
        width: auto;
        padding-left: 40px;
    }
    .catalog__stone-discount--deck {
        display: none;
    }
    .catalog__stone-discount--mobile {
        display: block;
        width: 34px;
        position: relative;
        top: auto;
        left: auto;
        margin: auto;
        font-size: 13px;
        box-sizing: border-box;
        padding: 2px 2px 2px 2px;
    }
    .catalog__stone-spec-cell {
        font-size: 12px;
    }
    .catalog__stone-spec-cell:first-child {
        width: 45px;
    }
    .catalog__stone-price-old {
        font-size: 14px;
        line-height: 1.14;
    }
    .catalog__stone-price-old:after {
        top: 7px;
    }
    .catalog__stone-price {
        font-size: 19px;
        line-height: 1.32;
    }
    .catalog__stone-status {
        display: none;
    }
    .catalog__stone-btn {
        font-size: 0;
        width: 40px;
        height: 40px;
        background: transparent url("../img/cart.jpg") no-repeat center;
        box-shadow: none;
        margin: auto;
    }
    .catalog__stone-cell:last-child {
        width: 80px;
    }
}
@media screen and (max-width: 768px) {
    .catalog__stone-name--mobile {
        max-width: 80px;
    }
}
@media screen and (max-width: 639px) {
    .catalog__stone-cell:first-child {
        padding-left: 5px;
        width: 90px;
    }
    .catalog__stone-cell:nth-child(3) {
        padding-left: 8px;
    }
    .catalog__stone-cell:nth-child(4) {
        width: 100px;
    }
    .catalog__stone-cell:last-child {
        width: 60px;
        vertical-align: middle;
    }

}