
.section--white {
    background: #fff;
    border: 1px solid #707070;
    margin: 39px 0 59px;
}
.prod__flex {
    display: flex;
    justify-content: space-between;
    padding: 23px 12px 4px;
}
.prod__column {
    position: relative;
    width: 49%;
}
.prod__column--btn {
    padding-bottom: 150px;
}
.prod__column--2 {
    display: flex;
    justify-content: space-between;
}
.prod__column-in {
    width: 61%;
}
.prod__column-in:first-child {
    width: 30%;
}
.prod__column-in--center {
    text-align: center;
}
.slider-nav {
    margin: -7px 0 0 0;
}
.slick-vertical .slick-slide {
    width: 150px;
    max-width: 150px;
    box-sizing: border-box;
    margin-bottom: 5px;
    border: none;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    margin-left: 3px;
}
.slick-current {
    opacity: 0.5;
}
.slider__img--prev {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
    cursor: pointer;
}
.slider__img-sign {
    background-color: #a88a8a;
    width: 100%;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0;
    text-align: center;
    color: #000000;
    box-sizing: border-box;
    padding: 7px 11px
}
.slider__img--big {
    width: 340px;
    height: 340px;
    box-sizing: border-box;
}
.slick-slide {
    outline: none;
}
.prod__ttl {
    font-family: 'EB Garamond', Arial, serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.25;
    text-align: center;
    color: #000000;
    display: block;
    max-width: 320px;
    margin: 0 auto 13px;
}
.prod__price-block {
    display: inline-block;
    margin: -3px auto 0;
    text-align: right;
}
.prod__price-old {
    display: inline-block;
    position: relative;
    font-family: 'EB Garamond', Arial, serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 0.85;
    color: #000000;
}
.prod__price-old:after {
    position: absolute;
    content: '';
    left: -5px;
    right: -5px;
    top: 50%;
    height: 3px;
    background: #000;
}
.prod__price {
    font-family: 'EB Garamond', Arial, serif;
    font-size: 46px;
    font-weight: bold;
    line-height: 1;
    color: #973030;
}
.prod__stock-block {
    display: block;
    margin: 16px 0 0 25px;
    text-align: center;
}
.prod__stock {
    font-family: 'EB Garamond', Arial, serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.3;
    text-align: center;
    color: #040404;
}
.prod__stock--100 {
    font-family: 'EB Garamond', Arial, serif;
    font-size: 25px;
}
.prod__tbl {
    display: table;
    width: 100%;
    margin: 40px 0 18px 0;
}
.prod__row {
    display: table-row;
}
.prod__cell {
    display: table-cell;
    padding: 0 0 1px 30px;
    box-sizing: border-box;
}
.prod__cell:first-child {
    width: 175px;
}
.prod__spec-cnt {
    font-family: 'EB Garamond', Arial, serif;
    font-size: 20px;
    line-height: 1.3;
    text-align: left;
    color: #000000;
}
.prod__btn-block {
    margin: 0 0 0 1px;
}
.prod__btn-line {
    display: flex;
    justify-content: flex-start;
    align-items: start;
}
.prod__btn {
    width: 263px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: rgba(168, 138, 138, 0.7);
    font-size: 20px;
    line-height: 1.25;
    color: #000000;
    border: none;
    text-align: center;
    padding: 19px 10px;
    box-sizing: border-box;
    cursor: pointer;
    letter-spacing: -0.4px;
}
.prod__btn:hover {
    background: rgba(168, 138, 138, 1);
}
.prod__summary-block {
    margin-top: 7px;
}
.prod__summary-cnt {
    font-family: 'EB Garamond', Arial, serif;
    font-size: 25px;
    line-height: 1;
    text-align: left;
    color: #000000;
}
.prod__summary-cnt span {
    font-family: 'EB Garamond', Arial, serif;
    font-size: 30px;
    font-weight: bold;
}
.product .prod__count-block--mobile,
.prod__btn-block--mobile ,
.prod__tbl-ttl {
    display: none;
}
.prod__btn-block--deck {
    position: absolute;
    bottom: 16px;
}

@media screen and (max-width: 1150px) {
    .prod__column-in:first-child {
        width: 110px;
    }
    .slick-vertical .slick-slide {
        max-width: 100px;
    }
    .prod__column-in {
        width: 326px;
    }
}

@media screen and (max-width: 1023px) {
    .slider-for {
        width: 280px;
        margin: 0 auto;
    }
    .slider__img--big {
        width: 240px;
        height: 240px;
        margin: auto;
    }
    .prod__tbl {
        margin: 40px 0 18px;
    }
    .prod__cell:first-child {
        padding: 0 0 1px;
    }
}

@media screen and (max-width: 900px) {
    .prod__column--2 {
        padding-right: 0;
    }
    .prod__column--btn {
        padding-bottom: 0;
    }
    .product.wrapper {
        padding: 0;
        margin-bottom: -28px;
    }
    .section--white {
        margin: 0;
        border: none;
    }
    .prod__column-in {
        width: calc(100% - 100px);
    }
    .prod__column-in:first-child {
        width: 110px;
    }
    .prod__flex {
        display: block;
        padding: 23px 12px 30px;
    }
    .prod__column {
        width: 100%;
    }
    .prod__column--2 {
        justify-content: flex-start;
    }
    .slider__img-sign {
        font-size: 12px;
        padding: 7px 8px;
    }
    .product .prod__count-block--mobile {
        display: block;
        margin:  0;
    }
    .prod__btn-block--mobile {
        display: block;
        margin: 2px auto 5px;
        width: 263px;
    }
    .prod__btn-block--deck {
        display: none;
    }
    .prod__stock-block {
        margin: -2px auto 7px;
    }
    .prod__stock {
        line-height: 20px;
    }
    .prod__summary-cnt {
        font-size: 20px;
    }
    .prod__summary-cnt span {
        font-size: 23px;
    }
    .prod__tbl {
        margin: 0 0 18px;
    }
    .prod__tbl-ttl {
        display: block;
        text-align: center;
        font-family: 'EB Garamond', Arial, serif;
        font-size: 12px;
        font-weight: bold;
        line-height: 1.25;
        color: #000000;
        text-transform: uppercase;
        margin: 3px 0 3px;
    }
    .product .prod__count-block-wrap {
        margin: auto;
    }
}

@media screen and (max-width: 639px) {
    .prod__flex {
        padding: 14px 5px 113px;
    }
    .slider-nav {
        margin: -5px 0 0 0;
    }
    .slider-nav .slick-list {
        padding: 6px 0 38px !important;
    }
    .slick-vertical .slick-slide {
        margin-bottom: 3px;
        max-width: 90px;
    }
    .prod__ttl {
        font-size: 20px;
        max-width: 190px;
    }
    .prod__column-in:first-child {
        width: 97px;
    }
    .product .prod__count-block--mobile {
        margin: 0;
    }
    .product .prod__count-btn {
        height: 25px;
    }
    .product .prod__count-block-wrap {
        width: 77px;
        margin: auto;
    }
    .product .prod__count-cnt {
        font-size: 14px;
        line-height: 1.29;
        margin: 0;
    }
    .slider-for {
        width: 190px;
    }
    .slider__img--big {
        width: 180px;
        height: 180px;
    }
    .prod__price-old {
        font-size: 25px;
        margin-bottom: 5px;
    }
    .prod__price-old:after {
        margin-top: -2px;
    }
    .prod__price-block {
        margin: -5px auto 0;
    }
    .prod__price {
        font-size: 31px;
    }
    .prod__stock-block {
        margin: -2px auto 1px;
    }
    .prod__stock {
        line-height: 17px;
        font-size: 13px;
    }
    .prod__btn-block--mobile {
        display: inline-block;
        margin: 2px auto 0;
    }
    .prod__btn--mobile {
        width: 174px;
        font-size: 14px;
        padding: 12px 6px 11px
    }
    .prod__spec-cnt {
        font-size: 12px;
    }
    .prod__summary-block--mobile {
        display: block;
        margin-top: 5px;
    }
    .prod__summary-cnt {
        font-size: 11px;
    }
    .prod__summary-cnt span {
        font-size: 13px;
    }
    .prod__cell {
        padding: 1px 0 2px 8px;
    }
    .prod__cell:first-child {
        padding: 0 0 3px 2px;
        width: 93px;
    }
}

@media screen and (max-width: 479px) {
    .prod__column--2 {
        justify-content: space-between;
    }
    .prod__btn-block--mobile {
        width: auto;
    }
}