::-webkit-input-placeholder {
    font-size: 19px;
    line-height: 0.74;
    color: #999999;
}
::-moz-placeholder {
    font-size: 19px;
    line-height: 0.74;
    color: #999999;
}/*Firefox19+*/
:-moz-placeholder {
    font-size: 19px;
    line-height: 0.74;
    color: #999999;
}/*Firefox18-*/
:-ms-input-placeholder {
    font-size: 19px;
    line-height: 0.74;
    color: #999999;
}

html {
    background: #000 url("../img/bg.jpg") repeat;
    height: 100%;
}
body {
    min-width: 320px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    background: #e2e2e2;
}
body *, html * {
    font-family: 'Quicksand', Arial, sans-serif;
    font-size: 15px;
    -webkit-font-smoothing: antialiased !important;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
.page {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    /*padding: 0 20px;*/
    box-sizing: border-box;
}
.wrapper {
    max-width: 1196px;
    margin: auto;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}
.ttl2 {
    display: inline-block;
    vertical-align: middle;
    font-family: 'EB Garamond', Arial, serif;
    font-size: 1.97em;
    font-weight: bold;
    line-height: 1.3;
    text-align: left;
    color: #000000;
}
.bold {
    font-weight: bold;
}
.center {
    text-align: center !important;
}
.ttl2.center {
    display: block;
    text-align: center;
}
.header {
    max-width: 1196px;
    margin: auto;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}
.header__desc {
    background: #fff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
.header__mobile {
    display: none;
}
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 72px;
    box-sizing: border-box;
    border-bottom:  1px solid #d8d8d8;;
}
.header-top__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
}
.header-top__cart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 79px;
}
.header-top__cart svg {
    display: block;
    width: 38.6px;
    height: 40.6px;
}
.header-top__search {
    border-left: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
    display: block;
    height: 100%;
    width: 286px;
    padding-right: 40px;
    box-sizing: border-box;
    background: url("../img/zoom.svg") no-repeat calc(100% - 10px) center ;
    background-size: 28px;

}
.header-top__search-inp {
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    padding: 10px;
    font-size: 19px;
    line-height: 0.74;
    color: #000;
}
.header-top__link {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.97em;
    font-weight: 500;
    line-height: 1.25;
    color: #000000;
    padding: 10px 23px;
}
.header__phone {
    font-size: 2em;
    font-weight: 500;
    line-height: 1.26;
    color: #a88a8a;
    margin-left: 10px;
}
.header-bot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    padding:  12px 0 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.header-bot__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 94px;
    height: 100%;
    border-right: 1px solid #e2e2e2;
    box-sizing: border-box;

}
.header-bot__btn-line {
    display: block;
    width:  30px;
    height: 3px;
    background: #333;
    position: relative;
    
}
.header-bot__btn-line:before {
    position: absolute;
    content: '';
    top: -7px;
    display: block;
    width:  30px;
    height: 3px;
    background: #333;
}
.header-bot__btn-line:after {
    position: absolute;
    content: '';
    top: 7px;
    display: block;
    width:  30px;
    height: 3px;
    background: #333;
}
.header-bot__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 95px);
}
.header-bot__nav-link {
    display: inline-block;
    vertical-align: middle;
    padding: 13px 50px;
    width: 268px;
    text-align: center;
    font-size: 1.65em;
    font-weight: 300;
    line-height: 0.96;
    color: #000000;
    border-right: 1px solid #e2e2e2;

}
.header-bot__nav-link:last-child {
    border-right: none;
}
.section {
    margin: 20px 0;
}
.section.column {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin: 20px -8px 0;
}
.slider__block {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    max-width: 1196px;
    margin: 20px auto 0;
    width: 100%;
    box-sizing: border-box;
}
.slider {
    width: 100%;
    max-width: 885px;
    box-sizing: border-box;
    background: #fff;
    margin-right: 20px;
    /*height: 293px;*/
}

.info-block {
    position: relative;
    width: 282px;
    height: 100%;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    text-align: center;
    padding: 7px 13px 16px;
}
.info-block--mobile {
    display: none;
    width: 100%;
}
.info-block__ttl {
    opacity: 0.61;
    font-family: 'EB Garamond', Arial, serif;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.3;
    letter-spacing: 0.5px;
    text-align: center;
    color: #000000;
}
.info-block__img {
    width: 200px;
    height: auto;
    box-sizing: border-box;
    margin-top: 10px;
}
.info-block__btn {
    position: absolute;
    bottom: 16px;
    right: 13px;
    left: 13px;
    display: block;
    opacity: 0.7;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #a88a8a;
    font-size: 1.3em;
    line-height: 1.25;
    letter-spacing: 0px;
    text-align: center;
    color: #000000;
    padding: 19px 0;
    box-sizing: border-box;

}
.info-block__btn:hover {
    opacity: 1;
}
.spec-card__block {
    display: flex;
    justify-content: space-between;
    margin: 15px -5px;
    font-size: 0;
}
.spec-card {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 225px;
    width: 100%;
    height: 227px;
    box-sizing: border-box;
    text-align: center;
    padding: 7px 20px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    margin: 0 5px;
}
.spec-card:hover {
    box-shadow: 3px 7px 20px 0 rgba(4, 4, 4, 0.16);
}
.spec-card__ttl {
    position: absolute;
    top: 7px;
    right: 0;
    left: 0;
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1.08;
    text-align: center;
    color: #000000;
    max-height: 54px;
    overflow: hidden;
    padding: 0 20px;
}
.spec-card__img {
    height: auto;
    width: 100%;
    max-width: 112px;
    object-fit: contain;
    margin: -8px auto 0;
}
.spec-card__prise-block {
    position: absolute;
    bottom: 4px;
    right: 0;
    left: 0;
}
.spec-card__old-prise {
    position: relative;
    font-family: 'EB Garamond', Arial, serif;
    font-size: 1.3em;
    font-weight: bold;
    line-height: 1.3;
    text-align: center;
    color: #000000;
    width: auto;
    display: inline-block;
}
.spec-card__old-prise:after {
    position: absolute;
    content: '';
    right: -7px;
    left: -7px;
    top: 50%;
    height: 2px;
    background: #000;
}
.spec-card__prise {
    font-family: 'EB Garamond', Arial, serif;
    font-size: 2.3em;
    font-weight: bold;
    line-height: 45px;
    text-align: center;
    color: #973030;
    margin-top: -10px;
}

.carb-block__wrap {
    width: 50%;
    padding: 0 8px;
    box-sizing: border-box;
}
.card__block {
    margin: 15px auto 0;
    position: relative;
    background: #e2e2e2;
    font-size: 0;
}
.card {
    display: inline-block;
    vertical-align: top;
    width: 33.2%;
    height: 375px;
    max-height: 375px;
    box-sizing: border-box;
    padding-right: 1px;
}
.card:nth-child(3) {
    padding-right: 0;
}
.card:hover .card__in {
    box-shadow: 3px 7px 20px 0 rgba(4, 4, 4, 0.16);
    z-index: 10;
}

.card__in {
    text-align: center;
    padding: 0 12px 45px;
    background-color: #ffffff;
    position: relative;
    height: 100%;
    box-sizing: border-box;
}
.card__procent {
    -webkit-text-stroke: 1px #707070;
    font-family: 'EB Garamond', Arial, serif;
    font-size: 2.65em;
    font-weight: bold;
    line-height: 1.3;
    text-align: left;
    color: #b79218;
}
.card__img {
    height: 95px;
    max-width: 112px;
    object-fit: contain;
    margin: 0px auto 0;
}
.card__ttl {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 61px;
    height: 61px;
    overflow: hidden;
    font-family: 'EB Garamond', Arial, serif;
    font-size: 1.3em;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    color: #000000;
    margin-top: -15px;
    margin-bottom: 6px;
}
.card__info-block {
    height: 75px;
    overflow: hidden;
}
.card__block-jewelery,
.card__block-stone {
    display: block;
}
.card__block-stone .card__info-line {
    display: flex;
    justify-content: space-between;
}
.card__block-stone .card__info {
    text-align: left;
    font-size: 1em;
    line-height: 1.27;
    color: #000000;
}
.card__prise {
    font-family: 'EB Garamond', Arial, serif;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.3;
    text-align: center;
    color: #000000;
}
.card__btn {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 45px;
    width: 100%;
    box-sizing: border-box;
    background: #a88a8a;
    font-size: 1.3em;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: 0px;
    text-align: center;
    color: #000000;
    border: none;
    cursor: pointer;
}
.card__block-jewelery .card__info-line {
    display: flex;
    justify-content: flex-start;
}
.card__block-jewelery .card__info-block .card__info {
    width: 100%;
    max-width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.9em;
    color: #000;
    text-align: left;
}
.card__block-jewelery .card__info-block .card__info:first-child {
   width: calc(100% - 93px);
    margin-right: 3px;

}
.article__block {
    display: flex;
    justify-content: space-between;
    margin: 20px -5px 0;
}
.article {
    display: block;
    width: 100%;
    max-width: 361px;
    background: #fff;
    border: solid 1px #d8d8d8;
    box-sizing: border-box;
    margin:  0 5px;
}

.article:hover {
    box-shadow: 3px 7px 20px 0 rgba(4, 4, 4, 0.16);
}
.article__img {
    width: 100%;
    max-height: 166px;
    overflow: hidden;
    box-sizing: border-box;
}
.article__bot {
    padding: 17px 15px 16px;
}
.article__tag {
    font-size: 0.77em;
    line-height: 1.25;
    text-align: left;
    color: rgba(51, 51, 51, 0.5);
}
.article__ttl {
    font-size: 1em;
    line-height: 1.6;
    text-align: left;
    color: #202020;
    margin-top: 12px;
}
.footer  {
    max-width: 1196px;
    margin: auto;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    flex-shrink: 0;

    /*padding: 10px 0 20px;*/

}
.footer__in {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-top: solid 3px #a88a8a;
}
.footer__phone-block {
    margin-top: 20px;
}
.footer__phone {
    font-size: 1.3em;
    font-weight: 500;
    line-height: 1.25;
    text-align: left;
    color: #000000;

}
.footer__ur-block {
    margin-top: 15px;
}
.footer__ur {
    font-family: 'EB Garamond', Arial, serif;
    font-size: 1.3em;
    line-height: 1.3;
    text-align: left;
    color: #707070;
}
.footer__soc-block {
    display: flex;
    justify-content: flex-end;
}
.footer__soc {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin-left: 5px;
}
.footer__soc-fb {
    background-color: #3b5998;
}
.footer__soc-tw {
    background-color: #55acee;
}
.footer__soc-in {
    background-color: #0976b4;
}
.footer__soc-wu {
    background-color: #55cd6c;
}
.footer__soc-g {
    background-color: #dd4b39;
}
.footer__soc-insta {
    background-color: #fff;
}
.section-shild {
    display: none;
}
.shild {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #fff;
    padding: 3px 100px 2px 0;
    height: 50px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    margin-bottom: 7px;
}
.shild__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 45px;
    box-sizing: border-box;
    border-right: 1px solid rgba(112, 112, 112, 0.44);
    margin-right: 7px;
}
.shild__percent svg,
.shild__img {
    width: 32px;
}
.shild__percent svg path {
    fill: #beab32;
}
.shild__ttl {
    font-size: 1.3em;
    font-weight: 600;
    line-height: 0.75;
    text-align: left;
    width: calc(100% - 50px);
    display: block;
    color: #000000;
}
.shild__btn {
    position: absolute;
    right: 0;
    width: 93px;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a88a8a;
    box-sizing: border-box;
    font-size: 0.8em;
    line-height: 1.25;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.7;
}


@media screen and (max-width: 1279px) {
    .header__phone {
        font-size: 1.7em;
    }
    .header-top__link {
        font-size: 1.6em;
        padding: 10px 20px;
    }
    .header-bot__nav-link {
        font-size: 1.5em;
        padding: 13px 20px;
    }
    .header-bot__btn {
        width: 72px;
    }
    .section.column {
        margin: 20px -5px 0;
    }
    .carb-block__wrap {
        padding: 0 5px;
    }
    .card:last-child,
    .spec-card:last-child {
        display: none;
    }
    .card {
        width: 50%;
    }
    .article {
        width: 32%;
    }
}

@media screen and (max-width: 1023px) {
    .header__phone {
        font-size: 1.8em;
    }
}

@media screen and (max-width: 900px) {
    .header {
        padding: 0;
    }
    .header__desc {
        display: none;
    }
    .header__mobile {
        display: block;

    }
    .header-mobile__top {
        background: #a88a8a;
        height: 48px;
    }
    .header-mobile__bot {
        background: #fff;
        padding: 5px 20px;
    }
    .header-mobile__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 64px;
        height: 100%;
        box-sizing: border-box;
    }
    .header-mobile__btn-line {
        display: block;
        width: 18px;
        height: 2px;
        background: #fff;
        position: relative;
    }
    .header-mobile__btn-line:before {
        position: absolute;
        content: '';
        top: -6px;
        display: block;
        width:  18px;
        height: 2px;
        background: #fff;
    }
    .header-mobile__btn-line:after {
        position: absolute;
        content: '';
        top: 6px;
        display: block;
        width:  18px;
        height: 2px;
        background: #fff;
    }
    .header__phone {
        margin-left: 0;
        font-size: 2em;
    }
    .spec-card:nth-child(4) {
        display: none;
    }
    .spec-card__ttl {
        font-size: 1.4em;
    }
    .spec-card__img {
        max-width: 90px;
    }
    .spec-card__prise {
        font-size: 1.8em;
    }
    .spec-card__old-prise {
        font-size: 1.2em;
    }
    .section.column {
        display: block;
    }
    .carb-block__wrap {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .header-mobile__btn {
        width: 55px;
    }
    .header-mobile__bot {
        padding: 5px 15px;
    }
    .wrapper {
        padding: 0 15px;
    }
    .slider__block {
        padding: 0;
        display: block;
    }
    .info-block--deck {
        display: none;
    }
    .info-block--mobile {
        display: block;
    }
    .section-spec {
        display: none;
    }
    .section-shild {
        display: block;
    }
}

@media screen and (max-width: 639px) {
    .ttl2 {
        font-size: 1.3em;
    }
    .article {
        width: 50%;
    }
    .article:last-child {
        display: none;
    }
    .footer {
        display: block;
        padding: 5px 15px 15px;
    }
    .footer__soc-block {
        margin-top: 15px;
        justify-content: center;
    }
    .header__phone {
        font-size: 1.9em;
    }
}

@media screen and (max-width: 479px) {
    .card {
        width: 100%;
        height: 270px;
        margin-bottom: 10px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        padding-right: 0;
    }
    .card__ttl {
        max-height: 35px;
        height: 35px;
        font-size: 1em;
        margin-top: -5px;
        margin-bottom: 5px;

    }
    .card__procent {
        position: absolute;
        font-size: 2em;
    }
    .card__img {
        height: 65px;
        margin: 15px auto 0;
    }
    .card__info-block {
        height: 70px;
    }
    .card__prise {
        font-size: 1.65em;
    }
    .card__btn {
        opacity: 0.7;
    }
    .card__block-jewelery .card__info-line {
        justify-content: space-between;
    }
    .card__block-stone .card__info:first-child,
    .card__block-jewelery .card__info-block .card__info {
        width: 60%;
        max-width: initial;
    }
    .card__block-stone .card__info:last-child,
    .card__block-jewelery .card__info-block .card__info {
        width: 40%;
        max-width: initial;
    }
    .article {
        width: 100%;
        max-width: initial;
    }
    .article:nth-child(2) {
        display: none;

    }

}